
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100;300;400;500;600;700;800&display=swap');
#container{
  
background: rgb(214,208,208);
background: linear-gradient(0deg, rgba(214,208,208,1) 25%, rgba(144,162,167,1) 89%);
}
.loading{
    border: 3px solid hsla(0, 0%, 45%, 0.2);
    border-top-color: black;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
    margin: 20px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
#content{
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

::-webkit-scrollbar {
    display: none;
}
#wrap{
  font-family: 'Ubuntu', sans-serif;
-webkit-overflow-scrolling: auto !important; /* 추가 */
}

